# Ignoring large folder
flask-server/venv/
nextjs-client/node_modules/
# Ignoring heavy weight files
flask-server/models/vgg_transformer.pth
flask-server/.gitignore
# Ignore key files
flask-server/key
dataset/key
# Ignore test script
flask-server/test.py
# Ignore vietOCR as they can be cloned from GitHub to reduce storage
flask-server/vietocr
