# Byte-compiled files
__pycache__/
*.py[cod]

# Logs and temporary files
*.log
*.tmp

# Datasets and training data (exclude if not required in the app)
dataset/

# Version control and keys
.git/
key/

# Development-specific directories/files
.env
*.bak

# Exclude VietOCR if already part of the deployment pipeline or unnecessary in the container
vietocr/
